.container-post {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
}

.post-list-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 315px;
    height: 300px;    
    
    background-color: #f3f3f3;
    box-shadow: 1px 2px 1px 1px rgba(29, 29, 29, 0.178);
    
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.post-list-data h2 {
    color: #2c2c2c;

    font-size: 1.2rem;
}

.post-list-data p {
    font-size: 0.7rem;
}